// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th.translate {
  width: 5%;
}
th.reference {
  width: 45%;
}
th.target {
  width: 50%;
}
th.progressbar {
   width: 45%;
}
th.project {
  width: 50%;
}
th.download {
  width: 5%;
}
h1.projectname {
  display: inline;
}
