doctype html
html
  head
    title Rubylator
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    #header
      = render "layouts/menu"
    .container
      #alerts.row
        = render "layouts/alerts"
      #infobar.row
        == yield :infobar
      #content.row
        == yield
